.navbar {
  background-color: black;
  padding: 2% 0;
  padding-top: 2%;
  padding-right: 3%;
  padding-left: 3%;
  text-align: right;
  display: block;
  line-height:1
}
a:-webkit-any-link {
  color: #3f51b5;
  cursor: pointer;
  text-decoration: unset;
  margin: auto 1%;
}
.navbar-username {
  display: inline;
  margin: auto 1%;
}
.navbar-event {
  display: inline;
  color: #80818a;
  cursor: pointer;
  text-decoration: unset;
  margin: auto 1%;
}
.navbar-username {
  margin-bottom: 40px;
  color: white;
  cursor: pointer;
  text-decoration: unset;
}

.navbar-logout {
  display: inline;
}
