html {
  height: 100%;
}

html, body, #root, .App, .App main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.App {
  text-align: center;
  background-color: rgb(225, 234, 236);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiPaper-rounded{
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  height: auto;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained {
  background-color: rgb(50, 131, 168);
  color:white;
}